<div class="uk-grid max-height">
    <div class="uk-width-1-4 logo-container">
        <div class="margin">
           <%= link_to "Tomoya Ono", root_path, class: "my-logo text-color2" %>
        </div>
        <ul class="uk-nav">
            <li class="change-color1"><%= link_to "About", root_path, class: "text" %></li>
            <li class="static-color2"><%= link_to "All Works", allworks_path, class: "text-focus" %></li>
            <li><a href="mailto:oh_tomoya_gogo&#64;icloud.com" class="text change-color3">Contact</a></li>
        </ul>
    </div>
    <div class="uk-width-3-4 yellow">
        <div class="right">
            <a href="https://twitter.com/art_abroad_tom?ref_src=twsrc%5Etfw"><i class="fab fa-twitter fa-lg icon"></i></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <a href="https://www.instagram.com/tomoya.ono.tom/?ref=badge"><i class="fab fa-instagram fa-lg icon"></i></a>
            <a href="https://www.facebook.com/oh.tomoya.gogo"><i class="fab fa-facebook fa-lg icon"></i></a>
        </div>
    </div>
</div>
