<div class="max-height" uk-grid>
    <div class="uk-width-1-1 yellow">
        
       <div class="uk-flex uk-flex-center">
         
         <div class="uk-margin-large-top">
             
           <h2>Admin Form</h2>
           <div class="uk-margin"><%= link_to 'Back', root_path %></div>
           <div class="uk-margin"><%= link_to 'New Post', new_product_path %></div>
           <a class="uk-button uk-button-danger" href="/users/sign_out">Log out</a>
           
         </div>
         
       </div> 
       
    </div>
</div>


